<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/form.js"></script>
    <title>Playlist Finder</title>
</head>
<body>
    <h1 style="font-family:'Courier New'" style="text-align: center;" f>FORM2</h1>
    <br>
    <br>

    <label>Enter comma seperates keywords</label>
    <input type="text" id="keywords">
    <input type="button" value='POOP' onclick="submitForm()">
    
</body>
</html>