<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/form.js"></script>
    <title>Playlist Finder</title>
</head>
<body>
    <h1 style="font-family:'Courier New'" style="text-align: center;" f>Popular Spotify Playlist Finder</h1>
    <br>
    <br>

    <form action="/form" method="POST">
        <label>Enter comma seperates keywords</label>
        <input type="text" name='bar'>
        <input type="submit" value='Find Playlists'/>    
    </form>

    <ul id='playlist-list'>
        {% for word in word_list %}
            <li>{{word}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>